body,ul,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1620px;
    margin: auto;
}
/* хедер */
.header {
    background-color: #121212;
}
span {
    color: #B2FFA6;
}
.header-link {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
}
.header-list {
    display: flex;
    gap: 100px;
}
/* hero */
.hero {
    background-color: #ffffff;
}
.hero-title {
    font-size: 64px;
}
.hero-span {
    color: #000000;
    font-weight: 400;
    margin-bottom: 20px;
}
.hero-img {
    display: inline-block;
    justify-content: space-around;
    padding-left: 342px;
    border-bottom: 1px solid #000000;
}
.hero-link {
    font-family: "Oswald", sans-serif;
    color: #000000;
    padding: 15px 80px;
    background-color: #B2FFA6;
    border-radius: 5px;
}

/* about */
.about {
    background-color: #EFEFEF;
}
.about-title {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}
.about-img {
    margin-right: 78px;
}
.about-text {
    display: flex;
    justify-content: right;
    width: 800px;
    height: 342px;
}
/* footer */
.footer {
    background-color: #121212;
}
.footer-img {
    margin-right: 30px;
}
.footer-title {
    color: #FFFFFF;
    font-weight: 300;
}
.footer-span {
    color: #FFFFFF;
    font-weight: 700;
}