body,ul,p,h1,h2,h3 {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1620px;
    margin: auto;
}
/* хедер */
.header {
    background-color: #121212;
    padding-bottom: 32px;
    padding-top: 32px;
}
span {
    color: #B2FFA6;
}
.header-link {
    color: #FFFFFF;
    font-family: "Oswald", sans-serif;
}
.header-list {
    display: flex;
    gap: 100px;
}
/* hero */
.hero {
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}
.hero-title {
    font-size: 64px;
    margin-bottom: 50px;
}
.hero-span {
    color: #000000;
    font-weight: 400;
    margin-bottom: 20px;
}
.hero-img {
    display: flex;
    justify-content: right;
}
.hero-link {
    font-family: "Oswald", sans-serif;
    color: #000000;
    padding: 15px 80px;
    background-color: #B2FFA6;
    border-radius: 5px;
}

/* about */
.about {
    background-color: #EFEFEF;
}
.about-title {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}
.about-img {
    margin-right: 78px;
}
.about-text {
    display: flex;
    justify-content: right;
}
/* services */
.services {
    background-color: #EFEFEF;
}
.services-text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin-top: 56px;
}
.services-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;
}
.services-item {
    display: inline-block;
    margin: 5px;
}
.services-img {
    margin-top: 25px;
}
.services-link {
    text-align: center;
    font-family: "Oswald", sans-serif;
    border: 3px solid #B2FFA6;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 80px;
    padding-left: 80px;
    color: #000000;
}
/* footer */
.footer {
    background-color: #121212;
}
.footer-img {
    margin-right: 30px;
}
.footer-title {
    color: #FFFFFF;
    font-weight: 300;
}
.footer-span {
    color: #FFFFFF;
    font-weight: 700;
}
.footer-text {
    color: #FFFFFF;
    font-family: "Raleway", sans-serif;
}